opencv-python~=4.5.5.62
matplotlib~=3.3.4
numpy~=1.19.5
pandas~=1.1.5
seaborn~=0.11.2
torch~=1.9.1
pyyaml~=6.0
pillow~=8.4.0
torchvision~=0.10.1
tqdm~=4.62.3
requests~=2.27.1
mxnet~=1.9.0
gluoncv~=0.10.4
scipy~=1.5.4
insightface~=0.6.2
yacs~=0.1.8
setuptools~=58.0.4
cython~=0.29.27
gdown~=4.4.0
easydict~=1.9